/* Global styles */
body {
    background-color:darkgray;
    font-family: "Source Sans 3", sans-serif;
}

/* Section styles */
header {
    background-color: 4FBDD2;
    padding: 25px;
}

.projects {
    background-color: white;
    padding: 35px 15px 35px 15px;
}

.about {
    background-color: #333333;
    color: white;
    padding: 35px 15px 35px 15px;
}

.photo {
    border-radius: 1000px;
}

.process {
    background-color: #333333
        color: white;
    padding: 35px 15px;
}
/* Heading styles */
h1 {
    color: white;
    font-size: 2.3em;
    font-weight: 900;
    text-align: center;
    line-height: 1em;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
    margin: 15px 0 5px 0;
    text-transform: uppercase;
}

h2 {
    color: #222222;
    font-size: 1.15em;
    font-weight: 700;
    text-align: center;
    margin: 5px 0 10px 0;
}

h3 {
    font-size: 1.4em;
    font-weight: 900;
    text-align: center;
    margin: 10px 0 10px 0;
    text-transform: uppercase;
}

h4 { font-size: 1.15em;
font-weight: 600;
color: white;
text-shadow: 0 1px 1px #333333;
}

/* Project tile styles */
.project {
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    margin: 12px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px darkgray;
    min-height: 100px
}

/* Button styles */
.btn-primary {
    color: white;
    background: #333333;
    border-radius: 50px;
    border: none;
    margin: 20px 0;
    padding: 10px 16px;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    vertical-align: middle;
}


/* Link styles */
